<%- include('layouts/header.ejs') %>
<nav>
    <h1>Asteroid Drilling Stats</h1>
    <h4>To explore craters click on the asteroids.</h4>
</nav>

<div class="row">
    <div class="col-3">
        <h3>Asteroid 1</h3>
        <span class="hovertext" data-hover="Money Cost: ">
        <a href="/">
            <img alt="1" src="images/m.gif" class="center">
          </a>
        </span>
    </div>
    <div class="col-3">
        <h3>Asteroid 2</h3>
        <span class="hovertext" data-hover="Money Cost: ">
            <a href="/">
                <img alt="1" src="images/m.gif" class="center">
              </a>
            </span>
    </div>
    <div class="col-3">
        <h3>Asteroid 3</h3>
        <span class="hovertext" data-hover="Money Cost: ">
        <a href="/3">
            <img src="images/m.gif" class="center">
          </a>
        </span>
      </div>
      <div class="col-3">
        <h3>Asteroid 4</h3>
        <span class="hovertext" data-hover="Money Cost: ">
            <a href="/">
                <img alt="1" src="images/m.gif" class="center">
              </a>
            </span>
      </div>
  </div>
  <div class="row">
    <div class="col-4">
        <h3>Asteroid 5</h3>
        <span class="hovertext" data-hover="Money Cost: ">
            <a href="/">
                <img alt="1" src="images/m.gif" class="center">
              </a>
            </span>
    </div>
    <div class="col-4">
        <h3>Asteroid 6</h3>
        <span class="hovertext" data-hover="Money Cost: ">
            <a href="/">
                <img alt="1" src="images/m.gif" class="center">
              </a>
            </span>
    </div>
    <div class="col-4">
        <h3>Asteroid 7</h3>
        <span class="hovertext" data-hover="Money Cost: ">
            <a href="/">
                <img alt="1" src="images/m.gif" class="center">
              </a>
            </span>
      </div>
  </div>
    <div class="row">
    <div class="col-3">
        <h3>Asteroid 8</h3>
        <span class="hovertext" data-hover="Money Cost: ">
        <a href="/8">
            <img alt="1" src="images/m.gif" class="center">
            </a>
        </span>
    </div>
    <div class="col-3">
        <h3>Asteroid 9</h3>
        <span class="hovertext" data-hover="Money Cost: ">
            <a href="/">
                <img alt="1" src="images/m.gif" class="center">
              </a>
            </span>
    </div>
    <div class="col-3">
        <h3>Asteroid 10</h3>
        <a href="/">
            <img src="images/m.gif" class="center">
            </a>
        </div>
        <div class="col-3">
            <h3>Asteroid 11</h3>
            <span class="hovertext" data-hover="Money Cost: ">
                <a href="/">
                    <img alt="1" src="images/m.gif" class="center">
                  </a>
                </span>
        </div>
    </div>
    <div class="row">
    <div class="col-4">
        <h3>Asteroid 12</h3>
        <span class="hovertext" data-hover="Money Cost: ">
        <a href="/12">
            <img alt="1" src="images/m.gif" class="center">
            </a>
        </span>
    </div>
    <div class="col-4">
        <h3>Asteroid 13</h3>
        <span class="hovertext" data-hover="Money Cost: ">
            <a href="/">
                <img alt="1" src="images/m.gif" class="center">
              </a>
            </span>
    </div>
    <div class="col-4">
        <h3>Asteroid 14</h3>
        <span class="hovertext" data-hover="Money Cost: ">
            <a href="/">
                <img alt="1" src="images/m.gif" class="center">
              </a>
            </span>
        </div>
    </div>
<div class="row">
    <div class="col-3">
        <h3>Asteroid 15</h3>
        <span class="hovertext" data-hover="Money Cost: ">
        <a href="/15">
            <img alt="1" src="images/m.gif" class="center">
            </a>
        </span>
    </div>
    <div class="col-3">
        <h3>Asteroid 16</h3>
        <span class="hovertext" data-hover="Money Cost: ">
            <a href="/">
                <img alt="1" src="images/m.gif" class="center">
              </a>
            </span>
    </div>
    <div class="col-3">
        <h3>Asteroid 17</h3>
        <span class="hovertext" data-hover="Money Cost: ">
            <a href="/">
                <img alt="1" src="images/m.gif" class="center">
              </a>
            </span>
        </div>
        <div class="col-3">
            <h3>Asteroid 18</h3>
            <span class="hovertext" data-hover="Money Cost: ">
        <a href="/18">
            <img src="images/m.gif" class="center">
            </a>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h3>Asteroid 19</h3>
            <span class="hovertext" data-hover="Money Cost: ">
                <a href="/">
                    <img alt="1" src="images/m.gif" class="center">
                  </a>
                </span>
        </div>
        <div class="col-6">
            <h3>Asteroid 20</h3>
            <span class="hovertext" data-hover="Money Cost: ">
                <a href="/">
                    <img alt="1" src="images/m.gif" class="center">
                  </a>
                </span>
        </div>
    </div>
  

<%- include('layouts/footer.ejs') %>