<%- include('layouts/header.ejs') %>
<nav>
    <p>Crater analyzer</p>
</nav>

<div class="row">
    <h2>
        Title
    </h2>
    <div class="col-3">
        <a href="/">
            <img alt="1" src="images/m.gif" class="center">
          </a>
    </div>
    <div class="col-3">
      <a href="/">
        <img src="images/m.gif" class="center">
      </a>
    </div>
    <div class="col-3">
        <a href="/">
            <img src="images/m.gif" class="center">
          </a>
      </div>
      <div class="col-3">
        <a href="/">
            <img src="images/m.gif" class="center">
          </a>
      </div>
  </div>
  <div class="row">
    <div class="col-4">
        <a href="/">
            <img alt="1" src="images/m.gif" class="center">
          </a>
    </div>
    <div class="col-4">
      <a href="/">
        <img src="images/m.gif" class="center">
      </a>
    </div>
    <div class="col-4">
        <a href="/">
            <img src="images/m.gif" class="center">
          </a>
      </div>
  </div>
    <div class="row">
    <h2>
        Title
    </h2>
    <div class="col-3">
        <a href="/">
            <img alt="1" src="images/m.gif" class="center">
            </a>
    </div>
    <div class="col-3">
        <a href="/">
        <img src="images/m.gif" class="center">
        </a>
    </div>
    <div class="col-3">
        <a href="/">
            <img src="images/m.gif" class="center">
            </a>
        </div>
        <div class="col-3">
        <a href="/">
            <img src="images/m.gif" class="center">
            </a>
        </div>
    </div>
    <div class="row">
    <div class="col-4">
        <a href="/">
            <img alt="1" src="images/m.gif" class="center">
            </a>
    </div>
    <div class="col-4">
        <a href="/">
        <img src="images/m.gif" class="center">
        </a>
    </div>
    <div class="col-4">
        <a href="/">
            <img src="images/m.gif" class="center">
            </a>
        </div>
    </div>
<div class="row">
    <h2>
        Title
    </h2>
    <div class="col-3">
        <a href="/">
            <img alt="1" src="images/m.gif" class="center">
            </a>
    </div>
    <div class="col-3">
        <a href="/">
        <img src="images/m.gif" class="center">
        </a>
    </div>
    <div class="col-3">
        <a href="/">
            <img src="images/m.gif" class="center">
            </a>
        </div>
        <div class="col-3">
        <a href="/">
            <img src="images/m.gif" class="center">
            </a>
        </div>
    </div>
  

<%- include('layouts/footer.ejs') %>