nav{
    height: 180px;
    line-height: 180px;
    text-align: center;
    color: white;
    border: 2px;
    padding-top: 55px;
    font-family: 'Roboto Mono', monospace;
}
h1{
    font-size: 70px;
}
h2{
    height: 180px;
    line-height: 180px;
    font-family: 'Roboto Mono', monospace;
    text-align: left;
    margin-left: 24px;
    font-size: 40px;
    color: white;
}
h3{
    font-size: 25px;
    color: white;
    padding-bottom: 10px;
    padding-left: 24px;
    font-family: 'Roboto Mono', monospace;
}
body{
    background-image: url('/images/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
.center{
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 190px;
}